.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  justify-content: center;
}

.item_btn {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  margin: 10px;
  color: lightblue;
}

.item_btn:focus {
  outline: none;
}

.button_row {
  display: flex;
  flex-direction: row;
}
