.no_heading {
  font-weight: 600;
  color: black;
  font-size: 1.5em;
}

.main_container {
  border-radius: 15px;
  background-color: ghostwhite;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.user_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

h3 {
  width: 100%;
  text-align: left;
}
